*{
   padding: 0;
   margin:0;
   box-sizing: border-box; 
}
body{
    width:100%;
    height: 100vh;
    background-color:black;
}
main{
    width:100%;
    min-height: 1200px;
    display: flex;
    flex-direction:column;
    margin-left: 100px;
}
form{
    width:100%;
    height: 200px;
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
   
}
form img{
   width:400px;
   height: 90px;
   background-color: #151d2f;
}
.search{
    width:400px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    background: linear-gradient(purple,orangered);
    outline: none;
    border-radius: 40px;
}
#search-input{
    width:350px;
    height:60px;
    outline: none;
    border:none;
    background: transparent;
    font-weight: 400px;
    font-size: 36px;
    padding:5px 30px;
    color:aliceblue;
}
.search i{
    width:50px;
    height:50px;
    margin-right: 50px;
    margin-top: 30px;
}
.display{
    width:100%;
    height: 900px;
   
}

.giphy-li{
    justify-self: center;
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    list-style:none;
    width:100%;
}
.giphy-li img {
    width:400px;
    height: 400px;
    padding: 10px 10px;
}
/* .loader{
    display: none;
    height: 15em;
    width:15em;
    border: 3em solid #2b304d;
    border-radius: 50%;
    border-top-color:#13fc97;
    position:absolute;
    transform: translate(-50%,-50%);
    left:50%;
    top:50%;
    animation: spin 3s infinite;

} */
/* @keyframes spin{
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
} */

