*{
   padding: 0;
   margin:0;
   box-sizing: border-box; 
}
body{
    background-color:black;
}
form{
    width:900px;
    height: 100px;
    display: flex;
    flex-direction:row; 
    justify-content: space-between;
}
form img{
   width:400px;
   height: 90px;
   background-color: #151d2f;
}
.search{
    width:500px;
    height: 40px;
    display: flex;
    flex-direction: row;
}